.container {
    max-width: 1480px;
}

.pricing-header {
    max-width: 1480px;
}

.card-deck .card {
    min-width: 310px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }